@media (max-width: 575px) {


    #navbar-head-container{
        margin-left: 5% !important;
        padding-left: 5% !important;
        margin-right: 5% !important;
        padding-right: 5% !important;
    }

    .nav-item{
        margin-top: 5% !important;
    }

}